@model SportsStore.Domain.Entities.Cart

@{
    ViewBag.Title = "FailPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FailPayment</h2>
<h3>I'm sorry it looks like the payment process failed miserably, you must be broke!</h3>


